<!DOCTYPE html>
<html>
  <head>
    <h2 style="font-size: 18dp; color: maroon; margin: auto;">SIGN IN ABSENTEE</h2><br> 
  </head>
  <style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 24px 0;  
        box-sizing: border-box;
        border: 2px solid maroon;
        border-radius: 4px;
      }
  </style>
  <body>
    <form method="POST" action="/absent">
        <label for="sname" style="font-size:xx-large;">SIGNER'S NAME:</label>  
        <input type="text" id="sname" name="sname" style="font-size:xx-large;"><br><br>  
        <label for="aname" style="font-size:xx-large;">ABSENTEE'S NAME:</label>  
        <input type="text" id="aname" name="aname" style="font-size:xx-large;"><br><br> 
        <label for="pass" style="font-size:xx-large;">PASSWORD</label> 
        <input type="text" id="pass" name="pass" style="font-size:xx-large;"><br><br>
        <label style="font-size:xx-large;"> Special Case</label><br> 
        <input type="radio" name="sp_case" id="lateness" value="lateness" checked="checked" style="font-size:36px;"> Informed Lateness </input><br>
        <input type="radio" name="sp_case" id="absence" value="absence" style="font-size:36px;" > Informed Absence </input><br>  
        <input type="submit" value="SIGN IN" style="font-size:xx-large;"> 
         
    </form>         
  </body>
</html>  