<!DOCTYPE html>
<html>
  <head>
    <p style="font-size: 18dp; color: maroon; margin: auto;">REGISTER AS A NEW USER TO MASJIDUL-MATROOD [ENTER YOUR DETAILS]</p><br>
  </head>
  <body>
    <form method="POST" action="/newuser"> 
        <label for="pass">Name:</label> 
        <input type="text" id="name" name="name" ><br><br> 
        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass" ><br><br> 
        <input type="submit" value="Register">  
    </form>         
  </body>
</html> 