<!DOCTYPE html>
<html>
  <head>
    <p style="font-size: 18dp; color: maroon; margin: auto;">ENTER YOUR DETAILS TO SIGN IN FOR THIS SALAT</p><br>
  </head>
  <body> 
    <form action="/signin" method="POST"> 
        <label for="pass">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="salat">Salat:</label>
        <input type="text" id="salat" name="salat"><br><br>  
        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass" ><br><br>  
        <input type="submit" value="Submit"> 
    </form>         
  </body>
</html> 
