
<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        background-color:green;
        color: white;
        border: 2px solid ;
        border-radius: 6px;
        padding: 15px 32px;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      } </style> 
  </head>
  <body>
    <h1 style="font-size: 18dp; color: maroon; margin: auto;">YOU HAVE SUCCESSFULLY REGISTERED WITH MASJIDUL-MATROOD</h1><br><br> 
    <input type="button" id="home" onclick="location.href='/home'" value="Go to home page" class="button" style="font-size:16px;"><br>        
  </body>
</html> 